<% include ../partials/header %>
<div class="ui main text container segment">
    <h1 style="text-align: center">Add New Comment to <em><%= blog.title %></em></h1>
    <div class="ui huged header" style="width: 30%; margin: 25px auto;">
        <form class="ui form" action="/blogs/<%= blog._id %>/comments" method="POST">
            <div class="field">
                <textarea class="form-control" type="text" name="comment[text]" placeholder="text"></textarea>
            </div>
            <div class="field">
                <button class="ui big violet inverted button">Submit!</button>
            </div>
        </form>
        <a href="/campgrounds/<%=blog_id%>">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>

