<% include ./partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Sign Up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form class="ui form" action="/register" method="post">
                <div class="field">
                    <input class="form-control" type="text" required name="username" placeholder="Username">
                </div>
                <div class="field">
                    <input class="form-control" type="email" required name="email" placeholder="Email">
                </div>
                <div class="field">
                    <input class="form-control" type="password" required name="password" placeholder="Password">
                </div>
                <div class="field">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                    <a href="/blogs" class="ui red inverted button right floated">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ./partials/footer %>

